local mydir="/run/media/tkiatd/Shared"
local cd_mydir="cd "$mydir

alias ..="cd .."
alias ...="cd ../.."

alias 2edit_zshrc="vim ~/.zshrc && source ~/.zshrc"
alias 2goto_download=$cd_mydir"/Download"
alias 2goto_droplet="ssh tkiatd@178.128.218.134"
alias 2goto_git=$cd_mydir"/Git"
alias 2goto_local=$cd_mydir"/Local"
alias 2remove_podman_images="podman rmi \$(podman images -a -q)"
